 {{!-- <header class="site-header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left">WordFlow</a>
          <ul class="right">
          {{#if currentUser}}
            <li><a href="/tweet/new">+tweet</a></li>
            <li><a href="/user/{{currentUser.id}}">Profile</a></li>
            <li><a href="/user/logout">Log Out</a></li>
          {{else}}
            <li><a href="/user/sign-up">Prompts</a></li>
            <li><a href="/notes/new">New notes</a></li>
          {{/if}}
          </ul>
        </div>
      </nav>
    </header> --}}

{{!-- {{#each notes}}
            <div>
                <p> {{ createdAt }} </p>
            </div>
            <div>
                <p> {{ prompt }} </p>
            </div>
            <div>
                <p> {{ content }} </p>
            </div>
    {{/each}} --}}
    
{{!-- </nav>
      <h6><a href="#">WordFlow</a></h6>
    <ul>
        <li><a href="#">Info</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Meetups</a></li>
        <li><a href="#">Challenge</a></li>
    </ul> --}}



       